

  <div class="text-center mb-5">
    <img src="assets/images/banner_auth.png" alt="Image" height="150" class="mb-3">
    <div class="text-900 text-3xl font-medium mb-3">Forgot password?</div>
    <span class="text-600 font-medium line-height-3">You can reset your password here.</span>
</div>
<div *ngIf="!hideMessage">
    <p-messages severity="info" >
        <ng-template pTemplate>
            <!-- <img src="assets/showcase/images/primeng.svg" width="32" /> -->
            <div class="ml-2"><p>{{message}}</p></div>
        </ng-template>
    </p-messages>
    <div class="flex align-items-center justify-content-between mb-6">
        <a routerLink="/auth/login" class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Back to login</a>
    </div>
</div>

<div *ngIf="!hideForm">
    <label for="email" class="block text-900 font-medium mb-2">Email</label>
    <input placeholder="mail@mail.example" [(ngModel)] = "email"  id="email" type="email" pInputText class="w-full mb-3"  (ngModelChange)="matchPasswordValidate()">

    <label for="password" class="block text-900 font-medium mb-2">New password</label>
    <input  [(ngModel)] = "newPassword"  id="password" type="password" pInputText class="w-full mb-3"  (ngModelChange)="matchPasswordValidate()">
    <label for="confirmPassword" class="block text-900 font-medium mb-2">Confirm Password</label>
    <input [(ngModel)] = "confirmPassword" id="confirmPassword" type="password" pInputText class="w-full mb-3" (ngModelChange)="matchPasswordValidate()" >

    <div class="flex align-items-center justify-content-between mb-6">
        <a routerLink="/auth/login" class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Back to login</a>
    </div>

    <button pButton pRipple label="Reset password" [loading]="loading" icon="pi pi-key" class="w-full" type="submit" [disabled]="blockMatchPassword" (click)="resetPassword()"></button>

</div>

